*{
    box-sizing: border-box;
}

.main-container{
    display: flex;
    flex-direction: row;

}

.img-container{
    width: 50%;
}
.text-container{
    width: 50%;
    text-align: center;
    margin-top: 250px;
}
p{
    color: teal;
    font-size: 50px;
}

.btn{
    color: teal;
    border-color: teal;
    padding: 10px 30px;
    font-size: 18px;
    border-radius: 10px;
}

.img-container{
    margin-top: 30px;
    margin-left: 50px;
}