.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-content{
  border: 1px solid black;
  height: 400px;
  width: 150px;
  margin: auto;
  margin-top: 150px;
}
div img{
  border-radius: 7px;
}
.light{
  color: gray;
  font-size: 13px;
  font-weight: bold;
}
.Img-div{
  margin-left: 15px;
  margin-top: 10px;
}
.name-div{
  margin-left: 15px;
}
.name-div h1{
  color: #61dafb;
}

.content{
  margin-left: 15px;
  margin-top: 20px;
}

.variable{
  font-weight: bold;
}
p{
  margin: 2px;
}